---
// src/layouts/Layout.astro
import '../styles/global.css';
const {title = 'DragonBall'} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-900 text-white font-sans">
		<header class="bg-yellow-800 text-white-900 text-center py-6 text-3xl font-bold shadow-md">
			<h1>{title}</h1>
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>
